# Build folders
/out/
/bin/
/lib/

# Visual Studio
*.vcxproj*
*.sln
*.user
*.obj
*.pdb
*.log
.vs/
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
.env
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# DLLs and executables
*.dll
*.exe

# Weights and tensorboard 
/research_py/weights
/research_py/runs
/research_py/experiments

# OS junk
.DS_Store
Thumbs.db